albumentations
black
black[jupyter]
catalyst
dask[complete]
einops
jax
jaxlib
jupyterlab
kaggle
matplotlib
numba
numpy
onnx
opencv-contrib-python
optuna
pandas
ray
scikit-learn
sympy
tensorflow
torch
torchvision
tqdm
transformers
vowpalwabbit
wandb
xgboost